<%= content_tag :p, "Alias: #{@smuggler.username }" %>
<%= @smuggler.username %>
<h4>Mugshot:</h4>
<%= image_tag @smuggler.avatar.url(:medium) %>
<% if logged_in_ty? %>
	<%= link_to "Delete Smuggler", smuggler_path(@smuggler), method: :delete %>
	<%= link_to "Update Smuggler", edit_smuggler_path(@smuggler), method: :get %>
<% elsif logged_in? %>
	<% current_smuggler.id == @smuggler.id %>
		<%= link_to "Delete Smuggler", smuggler_path(@smuggler), method: :delete %>
		<%= link_to "Update Smuggler", edit_smuggler_path(@smuggler), method: :get %>
<% end %>
<h3>Missions And Vehicles</h3>
<% @smuggler.missions.each do |mission| %>
<%= content_tag :p, "Mission: #{mission.name}" %> 
<%= content_tag :p, "Cost: $#{mission.cost} usd" %> 
<h4>Vehicle used</h4>
<%= link_to mission.vehicle.name, vehicle_path(mission.vehicle.id), method: :get%>
<%= image_tag mission.vehicle.image(:thumb) %>
<% end %>






