<h1>Smuggler's Profile Page</h1>
<%= @smuggler.username %>
<%= @smuggler.email %>
<%= image_tag @smuggler.avatar.url(:medium) %>


<%= link_to "Delete User", smuggler_path(@smuggler), method: :delete %>
<%= link_to "Update User", edit_smuggler_path(@smuggler), method: :get %>


