<h1>Tycoon Profile Page</h1>
<%= @tycoon.username %>
<%= @tycoon.email %>
<%= @tycoon.cigar %>
<%= @tycoon.networth %>
<h2>Tycoons Vehicles</h2>
<% @tycoon.vehicles.each do |v| %>
<%= v.name %>
<% end %>
