<h1>Create a Mission</h1>
<%= form_for @mission do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :cargo %>
	<%= f.text_field :cargo, size: "60x40" %>
	<%= f.label :cost %>
	<%= f.number_field :cost, min: 1000, step: 1 %>
	<%= f.label :containers %>
	<%= f.number_field :containers, step: 1 %>
	<% v_options = options_from_collection_for_select(@vehicles, 'id', 'name') %>
	<%= f.select :vehicle_id,  v_options %>
	<% s_options = options_from_collection_for_select(@smugglers, 'id', 'username') %>
	<%= f.select :smuggler_id,  s_options %>
	<%= f.label :origin %>
	<%= f.select :origin, [['Philadelphia', 'philadelphia'], ['Atlantic City', 'atlantic city'], ['Chicago', 'chicago'], ['New York', 'new york'], ['Brookyln', 'brooklyn'], ['New Orleans', 'new orleans'], ['Gary', 'gary']] %>
	<%= f.label :destination %>
	<%= f.select :destination, [['Philadelphia', 'philadelphia'], ['Atlantic City', 'atlantic city'], ['Chicago', 'chicago'], ['New York', 'new york'], ['Brookyln', 'brooklyn'], ['New Orleans', 'new orleans'], ['Gary', 'gary']] %>
	<%= f.submit :create %>
	<% end %>



