<!DOCTYPE html>
<html>
<head>
  <title>Fatcat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
				<% unless session[:smuggler_id] || session[:tycoon_id] %>
				<h3>Login Smuggler</h3>
					<%= form_tag("/login", method: "post") do %>  
				     <%=label_tag(:username, "username:") %>   
				     <%=text_field_tag(:username) %>
				     <br>
				     <%=label_tag(:password, "password:") %>   
				     <%=password_field_tag(:password) %> 
				     <br>  
				     <%=submit_tag("Submit") %> 
				     <% end %>
				     <h3>Login Tycoon</h3>

				     <%= form_tag("/login_tycoon", method: "post") do %>  
				     <%=label_tag(:username, "username:") %>   
				     <%=text_field_tag(:username) %>
				     <br>
				     <%=label_tag(:password, "password:") %>   
				     <%=password_field_tag(:password) %> 
				     <br>  
				     <%=submit_tag("Submit") %> 
				     <% end %>
				     <% end %>
	<% if logged_in? -%>Welcome, <%= content_tag :p, "smuggler" %> <%=current_smuggler.username %><% end -%>
	<% if logged_in_ty? -%>Welcome, <%= current_tycoon.username %><% end -%>
	<%= link_to("Log Out", '/logout', method: :delete) %>
	<!-- #{@current_tycoon.username} -->
	<!-- username not showing? -->

	
	<%= link_to("Become a smuggler", new_smuggler_path, method: :get) %>
	<%= link_to("All smugglers", smugglers_path, method: :get) %>
	
	
	<% if session[:tycoon_id] %>
	<%= link_to("Create a Mission", new_mission_path, method: :get) %>
	<%= link_to("Register your vehicle", new_vehicle_path, method: :get) %>
	<% end %>

				<% if flash[:notice] %>
  				<div class = "alert alert-success"><%= flash[:notice] %></div>
				<% end %>
				<% if flash[:alert] %>
  				<div class = "alert alert-success"><%= flash[:alert] %></div>
		<% end %>
	<div id = "content_container">


<%= yield %>

	</div>
</body>
</html>
